###############################################################################
# Normalizes lines for OS preference.
###############################################################################
* text=auto

*.cs text
*.json text
*.csproj text
*.- text
*.md text
*.props text
.editorconfig text
*.yml text
*.slnx text

###############################################################################
# Powershell: always reads LF on every OS - even Windows Powershell
###############################################################################
*.ps1 text eol=lf

###############################################################################
# Shell scripts: always LF.
###############################################################################
*.sh text eol=lf